#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: #242424;
}

input {
  background-color: #f1f1f1;
  border: 2px solid #242424;
  border-radius: 4px;
  color: #242424;
  padding: 0.6em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#navigation {
  padding: 10px 0;
  width: 100%;
  top: 0;
  position: sticky;
  background: black;
  color: #fff;
}

#navigation-list {
  list-style-type: none;
}

#navigation-list h3 {
  display: inline;
}

#navigation-list li {
  display: inline;
  margin-right: 20px;
}

.todo-list-div {
  width: 80%;
  margin: 0 auto;
  display: block;
}

#todo-list {
  text-align: left;
  list-style: none;
  padding: 0;

  .todo-list-item {
    display: flex;
    justify-content: center;
  }

  span {
    display: inline-block;
    min-width: 180px;
    margin: 0 10px;
  }

  .remove-item {
    padding: 5px;
    border-radius: 20px;
    font-size: 10px;
  }
}

.dynamic-form,
.form-data {
  text-align: left;
  margin: 0 auto;

  label {
    display: inline-block;
    width: 100px;
  }

  input {
    width: 300px;
  }
}

.shopping-cart {
  border: 2px solid #333;
  padding: 20px;
  margin: 20px;

  .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-top: 0;
    }

    img {
      max-width: 80px;
      max-height: 80px;
    }

    div {
      margin-right: 20px;
      text-align: left;
      min-width: 120px;
    }

    button {
      font-size: 12px;
    }
  }
}

.product-list-item {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.count-control {
  span {
    padding: 4px;
    border: 1px solid #333;
    min-width: 24px;
    display: inline-block;
    text-align: center;

    &:not(:last-of-type) {
      border-right: none;
    }
  }
}